<!doctype html>
<html lang="de">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body class="{{ page.layout }} {{ page.page_class }}">
    <div class="container">
      <header>
        {% render "navbar", metadata: site.metadata, page: page %}
      </header>

      <main class="p-sm-5">
        <div class="py-5">
          {{ content }}
        </div>
      </main>
    </div>

    {% render "footer", metadata: site.metadata %}
  </body>
</html>
