<div class="col-md-4 p-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <p class="card-text">{{ text }}</p>
      <a href="{{ url }}" class="btn btn-primary">Weiterlesen</a>
    </div>
  </div>
</div>
