<footer>
  Contact me at <a href="mailto:{{ metadata.email }}">{{ metadata.email }}</a>

  <p>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/de/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/de/88x31.png" /></a><span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" property="dc:title" rel="dc:type">Texte und Bilder auf 1000Lux</span> von <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.danielsenff.de.de" property="cc:attributionName" rel="cc:attributionURL">Daniel Senff</a> stehen unter einer<br>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/de/">Creative Commons Namensnennung-Nicht-kommerziell-Weitergabe unter gleichen Bedingungen 3.0 Deutschland Lizenz</a>.</p>
</footer>
